.layout {
    display: grid;
    grid-template-areas: "header header" "aside main" "footer footer";
    grid-template-columns: 1fr 3fr;
    gap: 10px;
}

header {
    grid-area: header;
    background: #ff9800;
}

aside {
    grid-area: aside;
    background: #8bc34a;
}

main {
    grid-area: main;
    background: #03a9f4;
}

footer {
    grid-area: footer;
    background: #9c27b0;
}
.layout>* {
    padding: 20px;
    color: white;
    font-weight: bold;
    border-radius: 5px;
}