@keyframes mover {
    0% {
        transform: translateX(0);
        background: red;
    }
    50% {
        transform: translateX(100px);
        background: green;
    }
    100% {
        transform: translateX(0);
        background: blue;
    }
}
.caja {
    width: 100px;
    height: 100px;
    background-color: red;
    animation: mover 3s infinite ease-in-out;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    border-radius: 8px;
}