.texto {
    color: blueviolet;
    font-size: 35px;
    font-family: 'Arial Narrow';
    font-weight: bold;
    line-height: 1.6;
    text-align: center;
    text-decoration: underline;
    text-transform: capitalize;
    letter-spacing: 1ch;
    word-spacing: 5px;
    white-space: nowrap;
}