.overflow {
  width: 200px;
  height: 50px;
  overflow: auto;
  border: 1px solid black;
  margin-bottom: 15px;
  padding: 10px;
}
.invisible {
  visibility: hidden;
  height: 30px;
  background-color: yellow;
}
.zindex {
  position: absolute;
  width: 150px;
  height: 150px;
  top: 100px;
  left: 100px;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
}
.fondo {
  background-color: blue;
  z-index: 1;
}
.encima {
  background-color: red;
  z-index: 2;
}
